.hidden {
  display: none;
}

.table {
  margin-bottom: 50px;
}

.table td,
.table th {
  padding: 8px;
  font-size: 20px;
}

.table th {
  margin-right: 5px;
  background-color: rgb(19, 126, 248);
}

.table-button {
  cursor: pointer;
  user-select: none;
}

.table-button.asc::after {
  content: '↑';
}

.table-button.desc::after {
  content: '↓';
}
