.form-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.update-name {
  width: 150px;
  height: 25px;
}

.update-color {
  width: 50px;
  height: 25px;
}
