.form-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.update-name {
  width: 150px;
  height: 25px;
}

.update-color {
  width: 50px;
  height: 25px;
}

.btn-update {
  cursor: pointer;
  padding: 6px 10px;
  font-size: 12px;
  background-color: #e0eeff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #16619c;
  border-left: 2px solid #16619c;
  text-transform: uppercase;

  &:hover {
    background-color: #deffac;
    border-bottom: 4px solid #77c404;
    border-left: 2px solid #77c404;
  }
}
