* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Verdana' sans-serif;
}

body {
  background: #000000;
  color: #fff;
}

.help {
  color: red;
  font-size: 2rem;
}

.hidden {
  display: none;
}
