* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Verdana' sans-serif;
}

body {
  background: #000000;
  color: #fff;
}

.hidden {
  display: none;
}

.btn-controls {
  cursor: pointer;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #e0eeff;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #16619c;
  border-left: 2px solid #16619c;

  &:hover {
    background-color: #deffac;
    border-bottom: 4px solid #77c404;
    border-left: 2px solid #77c404;
  }
}
