.form-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 300px;
}

.create-name {
  width: 150px;
  height: 25px;
}

.create-color {
  width: 50px;
  height: 25px;
}
