.btn-menu {
  cursor: pointer;
  margin: 10px;
  padding: 6px 10px;
  font-size: 12px;
  background-color: #e0eeff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #16619c;
  border-left: 2px solid #16619c;
  text-transform: uppercase;
}

.btn-menu-active {
  background: #77c404;
  border-bottom: 4px solid green;
  border-left: 2px solid green;
}
