.btn-controls.btn-menu-active {
  background: #77c404;
  border-bottom: 4px solid green;
  border-left: 2px solid green;
}

.menu {
  margin-top: 10px;
}

.btn-garage-view {
  margin-right: 20px;
}
