.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.btn-controls.btn-race {
  padding: 6px 20px;
}

.btn-controls.btn-reset {
  padding: 6px 20px;
}
